<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">

<h1>Modify user</h1>
<div id="operations">
    <ul>
        <li><a href="view_user.html" th:href="@{/users/view}" >Back to users</a></li>
    </ul>
</div>
<form action="edit" th:action="@{/users/edit}" th:object="${user}" method="post">
    <table class="datatable">
        <tr>
            <th scope="row"><label for="userName">Username</label></th>
            <td><input type="text" value="john" th:field="*{userId}" readonly="readonly"/></td>
        </tr>
        <tr>
            <th scope="row"><label>User roles</label></th>
            <td>
                <div th:each="validRole : ${allRoles}">
                    <input type="checkbox" value="ADMIN" id="role1"
                    th:id="${#ids.seq('authorisations')}" th:field="*{authorisations}" th:value="${validRole}"/>
                    <label for="role1" th:for="${#ids.prev('authorisations')}" th:text="${validRole}">ROLE_ADMIN</label>
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="Update user"/>
</form>
      </div>
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
