<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <util:properties id="ldap" location="classpath:ldap.properties"/>
    <util:properties id="application" location="classpath:application.properties"/>

    <context:property-placeholder order="0" ignore-unresolvable="true" system-properties-mode="OVERRIDE" properties-ref="application"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${cmsdb.driver}" />
        <property name="url" value="${cmsdb.url}" />
        <property name="username" value="${cmsdb.username}" />
        <property name="password" value="${cmsdb.password}" />
    </bean>

    <bean id="simpleDocService" class="eea.eprtr.cms.dao.SimpleDocServiceJdbc">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="cultureService" class="eea.eprtr.cms.dao.CultureServiceJdbc">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <bean id="userService" class="eea.eprtr.cms.dao.UserManagementServiceJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="storageService" class="eea.eprtr.cms.dao.StorageServiceFiles">
        <property name="storageDir" value="${storage.dir}" />
    </bean>

</beans>
