<beans
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">

    <security:http pattern="/**" use-expressions="true" auto-config="true">
        <security:intercept-url pattern="/login" access="isAuthenticated()"/>
        <security:intercept-url pattern="/statictexts" access="hasRole('EXTRANET-EPRTR-EPRTRCMS')" />
        <security:intercept-url pattern="/newstexts" access="hasRole('EXTRANET-EPRTR-EPRTRCMS')" />
        <security:intercept-url pattern="/edittext" access="hasRole('EXTRANET-EPRTR-EPRTRCMS')" />
        <security:intercept-url pattern="/filecatalogue" access="hasRole('EXTRANET-EPRTR-EPRTRCMS')" />
        <security:intercept-url pattern="/users/**" access="hasRole('EXTRANET-EPRTR-EPRTRCMS')"/>
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>
    </security:http>

    <context:property-placeholder order="1" system-properties-mode="OVERRIDE" properties-ref="ldap"/>

    <security:authentication-manager alias="authenticationManager">
        <security:ldap-authentication-provider
                user-dn-pattern="uid={0},ou=Users"
                group-search-base="cn=extranet-eprtr,cn=extranet,ou=Roles"
        />
    </security:authentication-manager>
       
    <bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <constructor-arg value="ldap://ldap.eionet.europa.eu:389/o=Eionet,l=Europe" />
<!--
        <property name="userDn" value="manager" />
        <property name="password" value="password" />
-->
    </bean>

<!-- http://stackoverflow.com/questions/8835818/handling-roles-when-authenticated-to-active-directory-with-spring-security-3-1
    http://spapas.github.io/2013/10/14/spring-ldap-custom-authorities/
     -->

</beans>
